################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Developer/ModelLibrary/SupportModules/__pycache__
/Developer/ModelLibrary/__pycache__
/Core/__pycache__

Ferret.log
